@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0,0,0;
  --background-end-rgb: 0,0,0;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(180deg, #000 40%, #352155 69%, #070510 99%);
  height: 100vh;
}
input[type="text"] {
  border: 0.1px solid gray;
  outline: none;
}

input[type="text"]:focus {
  border: 0.1px solid blueviolet;
  outline: none;
}